In [3]:
# Task 1Â¶
# - How many columns are there? => 3 Columns 
# - How are colums separated? => Name, Gender, number of children 
# - Is there a header on top of the files? => No

In [4]:
import pandas as pd

In [5]:
# Task 2: Read the file 'yob2021.txt' into pandas.

In [6]:
df = pd.read_csv('names/yob2021.txt',names=['name', 'gender', 'number'])

In [7]:
# Task 3: Print the first 10 rows

In [8]:
result = df.head(10)
print(result)

        name gender  number
0     Olivia      F   17728
1       Emma      F   15433
2  Charlotte      F   13285
3     Amelia      F   12952
4        Ava      F   12759
5     Sophia      F   12496
6   Isabella      F   11201
7        Mia      F   11096
8     Evelyn      F    9434
9     Harper      F    8388

In [9]:
# Task 4: Display the number of rows and columns.

In [10]:
shape = df.shape
print(shape)

(31537, 3)

In [11]:
# Task 5: Calculate the total number of babies born in 2021, i.e. the sum of the third column.

In [12]:
ttl = df['number'].sum()
print(ttl)

3361375

In [13]:
# Task 6: Like Task 5, but calculate the sum for boys and girls separately.

In [14]:
ttl_by_gender = df.groupby('gender')['number'].count()
print(ttl_by_gender)

gender
F    17544
M    13993
Name: number, dtype: int64

In [15]:
# Task 7: Check if your name occurs in the data.

In [16]:
df[df['name'] == 'Yutaro']

Empty DataFrame
Columns: [name, gender, number]
Index: []

In [17]:
# Task 8: Calculate the percentage of girls and boys among the total births.

In [18]:
(df.groupby('gender')['number'].sum() / df['number'].sum()) * 100

gender
F    48.405727
M    51.594273
Name: number, dtype: float64

In [19]:
# Task 9: Create a table that contains the top 5 girls names and top 5 boys names

In [20]:
df_female = df[df['gender'] == 'F'].nlargest(n=5, columns=['number'])
df_female

        name gender  number
0     Olivia      F   17728
1       Emma      F   15433
2  Charlotte      F   13285
3     Amelia      F   12952
4        Ava      F   12759

In [21]:
df_male = df[df['gender'] == 'M'].nlargest(n=5, columns=['number'])
df_male

         name gender  number
17544    Liam      M   20272
17545    Noah      M   18739
17546  Oliver      M   14616
17547  Elijah      M   12708
17548   James      M   12367

In [ ]:
# Task 10: Write the data from task 9 to an Excel spreadsheet.

In [23]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [25]:
from openpyxl.workbook import Workbook
writer = pd.ExcelWriter('sheet.xlsx')
df_male.to_excel(writer)
df_female.to_excel(writer)
writer.save()